footer.footer 
  .footer__info 	
    .footer__time 
      p Время работы: 
      p Пн-Пт: 8:00-23:00, Сб-Вс: 9:00-21:00
    .footer__address 
      address Пресненская набережная, дом 12 Башня "Федерация"  Восток, 31 этаж, Офис Р
    .footer__regnum 
      p ОГРН: 1187746683464
      p ИНН: 7703462548
  .footer__main
    img.logo(src=require("../../img/logo_white.svg") alt="Логотип Blitz Estate" width="141" height="110")
    p 
      | Продажа недвижимости 
      | в Москва-Сити
  .footer__service 
    a(href="tel:+74951991999") +7 (495) 199-19-99
    a(href="mailto:moscow@blitz.estate") moscow@blitz.estate
    button.btn_sub Заказать звонок