section.service
  h2.service__main-title Наши услуги на международном рынке
  ul.service__list
    each val in ["Жилая недвижимость", "Доходная недвижимость", "Инвестиционные операции", "Покупка яхт", "Доверительное управление", "Консьерж сервис"]
      li.service__item 
        h3.service__title= val
        p.service__desc Сопровождение сделок по продаже, купли и аренде объектов недвижимости под ключ.
        button.btn_more Узнать больше