.header {
	padding: 0 20vw;
	width: 100%;
	@extend %df_c_sb;
	&__menu {
		@extend %df_c_sb;
		cursor: pointer;
		flex: 0 0 10%;
	}
	&__nav {
		display: none;
	}
	&__service {
		@include tablet-only {
			@include hidden;
		}
	}
}
.header, .footer {
	&__main {
		max-width: 100%;
		@extend %df_c_sb;
		flex: 0 0 33%;
		p {
			margin-left: $lg;
			@include tablet-only {
				@include hidden;
			}
		}
	}
	&__service {
		display: flex;
		flex-direction: column;
		margin-top: $half;
	}
	@include desktop-wide {
		padding-left: 15vw;
		padding-right: 15vw;
	}
	@include mobile-wide-only {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}
.main-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $bg;
	z-index: 2;
	&__list {
		@extend %dfc;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	&__item {
		font-family: "Geometria-Bold";
		font-size: 2rem;
	}
}
.hero {
	@extend %dfc;
	min-height: 45rem;
	&__title {
		margin-bottom: $half;
		font-family: "Geometria-Heavy";
		font-size: $xxl;
		text-transform: uppercase;
		line-height: 1.5;
	}
	&__desc {
		font-size: $semi;
	}
	&__title, &__desc, &__list {
		max-width: 60%;
		@include tablet-only {
			max-width: 100%;
		}
	}
	&__list {
		width: 100%;
		display: flex;
		margin-bottom: $normal;
		@include mobile-only {
			flex-wrap: wrap;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		column-gap: $normal;
		&:nth-of-type(1) {
			flex: 1 0 33%;
		}
		&:nth-of-type(2) {
			flex: 1 0 33%;
		}
		&:nth-of-type(3) {
			flex: 1 0 33%;
		}
	}
	&__gift {
		@extend %df_c_sb;
		max-width: 33%;
		margin-bottom: $xl;
		@include tablet-only {
			max-width: 50%;
		}
		p {
			margin-left: $normal;
		}
	}
}
.quiz {
	display: grid;
	grid-template: 
								"head head head" 0.1fr
								"quiz quiz list" 1fr
								"answer answer list" 0.1fr;
	
	@include tablet-only {
		grid-template-areas: 
									"head head head"
									"quiz quiz quiz"
									"answer answer answer"
									"list list list";
	}
	&__head { 
		margin-bottom: $xxl;
		grid-area: head;
	}
	&__main-title {
		@extend %title;
	}
	&__desc {
		@extend %desc;
	}
	&__main {
		margin-bottom: $xxl;
		padding: 0rem $xl;
		grid-area: quiz;
	}
	&__title {
		margin-bottom: $xl;
		font-family: "Geometria-Heavy";
		font-size: $semi;
	}
	&__list {
		@extend %df_c_sb;
		column-gap: $sm;
		@include mobile-wide-only {
			flex-direction: column;
			align-items: start;
			justify-content: start;
		}
	}
	&__item {
		cursor: pointer;
		@include mobile-wide-only {
			flex: 0 1 100%;
		}
		img {
			width: 100%;
			height: auto;
		}
		&:hover {
			figcaption {
				opacity: 100%;
			}
		}
	}
	&__answers {
		padding: 0 $xl;
		flex: 0 0 70%;
		@extend %df_c_sb;
		grid-area: answer;
		@include mobile-only {
			flex-wrap: wrap;
		}
	}
	&__profit {
		grid-area: list;
		padding:$sm $xs;
		@extend %dfc;
		row-gap: $xxl;
		@include tablet-only {
			flex-direction: row;
			column-gap: $normal;
		}
		@include mobile-wide-only {
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: start;
		}
		&_item {
			display: flex;
			column-gap: $half;
			line-height: 1.5;
			&::before {
				content: url("../../img/check.svg");
				display: block;
				width: 39px;
				height: 35px;
				flex: 1 0 10%;
				@include mobile-wide-only {
					flex: none;
				}
			}
		}
	}
}
.service {
	&__main-title {
		@extend %title;
	}
	&__list {
		display: grid;
		grid-column-gap: $sm;
		grid-row-gap: $normal;
		grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
		grid-template-rows: repeat(4, minmax(18.75rem, 1fr));
		@include desktop-wide-only {
			grid-template-rows: repeat(3, minmax(18.75rem, 1fr));
		}
		@include mobile-only {
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__title {
		font-family: "Geometria-Heavy";
	}
	&__desc {
		width: 100%;
		max-width: 22rem;
		transition: transform $tr,
								opacity $tr;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding: $normal;
		color: $bg;
		background-size: cover;
		overflow: hidden;
		transition: background $tr;
		@include mobile-only {
			flex: 0 0 100%;
			min-height: 300px;
		}
		@for $i from 1 through 6 {
			&:nth-of-type(#{$i}) {
				background-image: linear-gradient(180deg, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.56) 52.73%, #252C38 100%), 
													url(../../img/service#{$i}.webp);
			}
		}
		&:nth-of-type(1) {
			grid-row: span 2;
		}
		@include desktop-wide-only {
			&:nth-of-type(5n) {
				grid-column: span 2;
			}
		}
		&:nth-of-type(4n) {
			grid-column: span 2;
		}
		@media (hover: hover) {
			.service__title {
				position: absolute;
				bottom: $half;
				transition: bottom $tr;
			}
			.btn_more, .service__desc {
				transform: translateY(50%);
				opacity: 0;
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.6); 
				background-blend-mode: color;
				.btn_more, .service__desc {
					transform: translateY(0);
					opacity: 1;
				}
				.service__title {
					bottom: 10.5rem;
				}
			}
		}
	}
}
.apartment, .direct {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(455px, 1fr));
		grid-auto-flow: row;
		column-gap: $normal;
		row-gap: $xl;
		@include mobile-only {
			grid-template-columns: 1fr;
		}
	}
	&__item {
		flex: 0 1 49%;
	}
}
.apartment {
	&__main-title {
		@extend %title;
	}
	&__title {
		margin-bottom: $sm;
		transition: $tr;
	}
	&__desc {
		@extend %desc;
	}
	&__item {
		&:hover {
			.apartment__title {
				color: $main;
			}
		}
	}
	&__image {
		width: 100%;
		height: auto;
	}
	&__card {
		padding: $sm $half;
		@extend %df_c_sb;
		flex-wrap: wrap;
	}
	&__title {
		margin-bottom: $sm;
		font-family: "Geometria-Heavy";
		flex: 0 0 100%;
	}
	&__lot, &__price {
		font-family: "Geometria-Light";
		flex: 0 0 100%;
	}
	&__lot {
		margin-bottom: $sm;
	}
	&__price, &__price-metr {
		flex: 70%;
		margin-bottom: $xs;
	}
	&__price {
		font-size: $xl;
	}
	&__area, &__floor {
		flex: 30%;
	}
	.btn_sub {
		width: 100%;
	}
}
.about {
	@extend %df_c_sb;
	column-gap: $lg;
	@include tablet-only {
		flex-direction: column;
	}
	&__title {
		font-family: "Geometria-Heavy";
		font-size: $xl;
		margin-bottom: $sm;
	}
	&__text {
		flex: 0 0 50%;
		@include tablet-only {
			margin-bottom: $normal;
		}
	}
	&__visual {
		flex: 0 0 40%;
	}
}
.direct {
	&__main-title {
		@extend %title;
	}
	&__item {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: $heavy max-content;
		align-items: stretch;
		padding: $xl $xxl;
		outline: 1px solid $main;
		border-image-slice: 0 0 27 16;
		border-image-width: 23px 20px 20px 20px;
		border-image-outset: 0px 0px 0px 0px;
		border-image-repeat: stretch stretch; 
		border-image-source: url("../../img/border.jpg");
		border-radius: $normal;
		@include desktop {
			padding: $xl;
		}
	}
	&__service {
		@extend %dfc;
	}
	&__post {
		opacity: 50%;
	}
	&__head {
		margin-bottom: $md;
	}
	img {
		margin-left: auto;
		width: 80%;
	}
	&__main-title {
		font-family: "Geometria-Heavy";
		font-size: $xl;
	}
	&__title {
		font-family: "Geometria-Heavy";
		font-size: $semi;
		grid-column: span 2;
	}
}
.coo {
	display: flex;
	&__title {
		@extend %title;
		text-align: left;
		margin-bottom: $md;
	}
	&__subtitle {
		font-family: "Geometria-Heavy";
		font-size: $semi;
		margin-bottom: $xl;
	}
	&__text {
		padding-bottom: $xxl;

	}
	&__visual {
		align-self: flex-end;
		@include tablet-only {
			@include hidden;
		}
	}
}
.footer {
	@extend %df_c_sb;
	padding-top: $xl;
	padding-bottom: $xl;
	width: 100%;
	background-color: $footer;
	color: $bg;
	max-width: 100%;
	@include tablet-only {
		flex-direction: column;
	}
	&__info {
		flex: 0 0 30%;
	}
	&__address {
		margin-bottom: $md;
	}
	&__regnum {
		@extend %df_c_sb;
	}
	&__service {
		text-align: center;
		a[href^="mailto"] {
			font-size: $semi;
		}
	}
}