@import "variables.scss";
@import "base.scss";
@import "layout.scss";
@import "module.scss";

@font-face {
  font-family: "Geometria-Light";
  src: url("~/font/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("~/font/Geometria.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geometria-Bold";
  src: url("~/font/Geometria-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geometria-Heavy";
  src: url("~/font/Geometria-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geometria-ExtraBold";
  src: url("~/font/Geometria-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
