doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= htmlWebpackPlugin.options.title
		meta(name="description", content=`${htmlWebpackPlugin.options.title} — международная компания по управлению недвижимостью и финансами.`)
	body
		include ./pug/header.pug 
		main
			include ./pug/hero.pug 
			include ./pug/quiz.pug 
			include ./pug/services.pug 
			include ./pug/catalog.pug 
			include ./pug/about.pug 
			include ./pug/directions.pug 
			include ./pug/coo.pug 
		include ./pug/footer.pug 








